@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&family=Roboto+Slab:wght@100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}


.first-section{
  background-color: #1f2937;
 
}

body{
  font-family: "Roboto Slab", serif;
}

#header-logo{
  font-size: 24px;
  color: #f9faf8;
}

.header-link{
  font-size: 18px;
  color:#e5e7eb;
  margin: 10px;
  
}

.navbar{
  display: flex;
  flex-direction: row;
}

li{
  display: flex;
  flex-direction: row;
}

.nav-left,.nav-right{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* this is for visual */
  /* border: 3px red solid;  */
  
}


h1{
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
}

.p-first{
  font-size: 18px;
  color: #e5e7eb;
}

.content{
  display: flex;
  margin: 70px;
}


img{
  margin-bottom: 50px;
}

.content-right{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#p1-signup{
  background-color: #3882f6;
  width: 100px;
  height: 30px;
  border: #3882f6;
  border-radius: 50px;
  color: white;
  margin-top: 10px;
}

.content-left{
  display: flex;
  width: 50%;
  margin-left: 150px;
  padding-left: 10px;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  
  
}

#info-header{
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
}

.second-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.containers{
  border: 2px #3882f6 solid ;
  display: flex;
  

}

.box1,.box2,.box3,.box4{
  
  border: 2px #3882f6 solid;
  margin: 50px;
  padding: 30px;
}

/* The second section of the web */

h2{
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
}

.row-of-blue-divs{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 100px;
  
}

.blue-box{
 
  
  border: 3px #3882f6 solid ;
  width: 200px;
  height: 200px;
  
  border-radius: 5px;

}

.box-blue-msg{
  max-width: 300px;
}

.second-section{
  display: flex;
  justify-content: space-between;
}

.p-second{
  text-align: center;
  font-size: 18px;
}

h3{
  font-size: 36px;
  font-style: italic;
  color: #1F2937;
}

.third-section{
background-color: #E5E7EB;
height: 500px;
display: flex;
flex-direction: column;
justify-content: center;
padding-left: 400px;
}

#quote-author{
  display: flex;
  justify-content: flex-end;
  padding-right: 500px;
}